@font-face {
    font-family: 'IRANSansX-Regular';
    src: url('/fonts/IRANSansX-Regular.woff') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'IRANSansXFaNum-Medium';
    src: url('/fonts/IRANSansXFaNum-Medium.woff') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'ArialMT';
    src: url('/fonts/ArialMT.woff') format('truetype');
    font-weight: 400;
}